<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Laporan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-4">Edit Laporan</h2>
        <hr>
        <form action="{{ url_for('admin_laporan_edit', id=laporan.id_tmla) }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="judul_tmla">Judul:</label>
                <input type="text" class="form-control" name="judul_tmla" value="{{ laporan.judul_tmla }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="{{ url_for('admin') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
