<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Labels Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2 class="mt-4">Label</h2>
    <hr>
    <form method="POST" action="{{ url_for('admin') }}" class="mb-3">
        <div class="form-group">
            <label for="label_name">Name :</label>
            <input type="text" id="label_name" name="label_name" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Tambah Label</button>
    </form>
    <h2 class="mt-4 text-center">Data Label</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for label in labels %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ label.nama_tml }}</td>
                <td>
                    <a href="/admin/edit_label/{{ label.id_tml }}" class="btn btn-warning btn-sm">Edit</a>
                    <a href="/admin/delete_label/{{ label.id_tml }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
