<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Struktur Organisasi KKN</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .team-member {
      text-align: center;
      margin-bottom: 30px;
    }

    .team-member img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }

    .card {
      margin: 20px;
      padding: 10px;
    }

    .jsplumb-connector {
      z-index: -1;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.15.6/jsplumb.min.js"></script>
</head>

<body>
  <div class="container">
    <h1 class="text-center my-4">Struktur Organisasi KKN</h1>

    <div class="row justify-content-center">
      <div class="col-md-6" id="dpl">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Dosen Pembimbing Lapangan">
          <div class="card-body">
            <h3 class="card-title">Nama Dosen Pembimbing Lapangan</h3>
            <p class="card-text">Dosen Pembimbing Lapangan</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6" id="ketua">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Ketua">
          <div class="card-body">
            <h3 class="card-title">Nama Ketua</h3>
            <p class="card-text">Ketua</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" id="wakil">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Wakil Ketua">
          <div class="card-body">
            <h3 class="card-title">Nama Wakil Ketua</h3>
            <p class="card-text">Wakil Ketua</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="sekretaris1">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Sekretaris 1">
          <div class="card-body">
            <h3 class="card-title">Nama Sekretaris 1</h3>
            <p class="card-text">Sekretaris 1</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="sekretaris2">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Sekretaris 2">
          <div class="card-body">
            <h3 class="card-title">Nama Sekretaris 2</h3>
            <p class="card-text">Sekretaris 2</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="bendahara1">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Bendahara 1">
          <div class="card-body">
            <h3 class="card-title">Nama Bendahara 1</h3>
            <p class="card-text">Bendahara 1</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="bendahara2">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Bendahara 2">
          <div class="card-body">
            <h3 class="card-title">Nama Bendahara 2</h3>
            <p class="card-text">Bendahara 2</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" id="seksiacara1">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Seksi Acara 1">
          <div class="card-body">
            <h3 class="card-title">Nama Seksi Acara 1</h3>
            <p class="card-text">Seksi Acara</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="seksiacara2">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Seksi Acara 2">
          <div class="card-body">
            <h3 class="card-title">Nama Seksi Acara 2</h3>
            <p class="card-text">Seksi Acara</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="seksiacara3">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Seksi Acara 3">
          <div class="card-body">
            <h3 class="card-title">Nama Seksi Acara 3</h3>
            <p class="card-text">Seksi Acara</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="seksiacara4">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Seksi Acara 4">
          <div class="card-body">
            <h3 class="card-title">Nama Seksi Acara 4</h3>
            <p class="card-text">Seksi Acara</p>
          </div>
        </div>
      </div>
      <div class="col-md-4" id="seksiacara5">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Seksi Acara 5">
          <div class="card-body">
            <h3 class="card-title">Nama Seksi Acara 5</h3>
            <p class="card-text">Seksi Acara</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" id="seksikominfo1">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Seksi Kominfo 1">
          <div class="card-body">
            <h3 class="card-title">Nama Seksi Kominfo 1</h3>
            <p class="card-text">Seksi Kominfo</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="seksikominfo2">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Seksi Kominfo 2">
          <div class="card-body">
            <h3 class="card-title">Nama Seksi Kominfo 2</h3>
            <p class="card-text">Seksi Kominfo</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" id="seksilogistik1">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Seksi Logistik 1">
          <div class="card-body">
            <h3 class="card-title">Nama Seksi Logistik 1</h3>
            <p class="card-text">Seksi Logistik</p>
          </div>
        </div>
      </div>
      <div class="col-md-6" id="seksilogistik2">
        <div class="card team-member">
          <img src="../static/assets/images/IMG_20240715_130636.jpg" alt="Seksi Logistik 2">
          <div class="card-body">
            <h3 class="card-title">Nama Seksi Logistik 2</h3>
            <p class="card-text">Seksi Logistik</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsPlumb/2.15.6/jsplumb.min.js"></script>
  <script>
    jsPlumb.ready(function () {
      var instance = jsPlumb.getInstance({
        Endpoint: ["Dot", { radius: 2 }],
        Connector: "Straight",
        PaintStyle: { stroke: "#456", strokeWidth: 2 },
        HoverPaintStyle: { stroke: "#1e8151", strokeWidth: 2 },
        Container: "container"
      });

      var sourceAnchors = [
        "BottomCenter"
      ];

      var targetAnchors = [
        "TopCenter"
      ];

      instance.doWhileSuspended(function () {
        var connections = [
          { source: "dpl", target: "ketua", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "ketua", target: "wakil", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "sekretaris1", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "sekretaris2", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "bendahara1", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "bendahara2", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "seksiacara1", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "seksiacara2", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "seksiacara3", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "seksiacara4", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "seksiacara5", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "seksikominfo1", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "seksikominfo2", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "seksilogistik1", anchors: [sourceAnchors[0], targetAnchors[0]] },
          { source: "wakil", target: "seksilogistik2", anchors: [sourceAnchors[0], targetAnchors[0]] }
        ];

        connections.forEach(function (conn) {
          instance.connect(conn);
        });
      });

      jsPlumb.fire("jsPlumbDemoLoaded", instance);
    });
  </script>
</body>

</html>
